<% layout("/layouts/boilerplate") %>

<h3>All Listing</h3>
<!-- <form action="/listings/new" method="GET">
    <button>New Listing</button>
  </form> -->
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
  <% for( let listing of AllListing) { %>
  <a href="/listings/<%= listing._id %>" class="listing-links">
    <div class="card col" class="listing-card">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="listing image"
        style="height: 20rem"
      />
      <!--image-overley effect in bootstrapage-overley effect in bootstrap -->
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b><%= listing.title %></b><br />
          <%= listing.price ? listing.price.toLocaleString("en-IN") : "Price not available" %>/Night
        </p>
        
      </div>
    </div>
  </a>
  <% } %>
</div>

<!-- <ul>
    <% for( let listing of AllListing) { %>
    <li><a href="/listings/<%= listing._id  %>"><%= listing.title %></a></li>
    /<li><a href="/listings/<%= listing._id  %>"><%= listing.title %></a></li>
    <% } %>
  </ul> -->
